html
	head
	body
		h2 Exercise: Interaction, Mouse
		h2 Exercise: Interaction, Keyboard
		h2 Exercise: Image
		h2 Exercise: Sound
		h2 Exercise: Camera
		
		h2 Exercise: Data Visualization
		h2 Exercise: Generative Worlds
		h2 Exercise: Text