extends hwlayout.pug
block content
	h2 Exercise1: Particle Particle Particle
	p Use 
		a(href="https://github.com/bobcgausa/cook-js" target="_blank") p5.particles 
		| library to make something beautiful.
	p Example: 
		a(href="/p5/i-love-new-york" target="_blank") i love new york
	
	h2 Exercise2: Music + Visual Music
	p Use 
		a(href="https://p5js.org/reference/#/libraries/p5.sound" target="_blank") p5.sound
		|  library and p5.js text related functions.
	p Find a piece of music you like. It should last at least 60 seconds. Search for interesting spots in the music. Make visual effects suitable for those moments.
	p Use the following functions:
	p addCue(), anonymous functions
	p loadFont(), textFont(), textSize(), text()
	p split()