extends hwlayout.pug
block content
	h2 Sliders and buttons
	p Integrate sliders and buttons from 
		a(href="https://p5js.org/reference/#/libraries/p5.dom" target="_blank") p5.dom library
		|  to enable adjustable effects as in these examples: 
		a(href="/p5/flower-slider" target="_blank") (1)
		|  and 
		a(href="/p5/sound-slider" target="_blank") (2)
		|  .
	p Use the following functions:
	p createSlider(), value(), changed()
	p createButton(), mousePressed()
	p position(), style()

	h2 Make a game
	p use p5.play library
	p use the following functions:
	p createSprite()
	p draw
	p position.x, position.y
	p overlap(), collide(), displace()
	p random()
	h2 Image
