html
	head
		title hw#{hwid}
		link(rel='stylesheet', href='/css/hw.css')
	body
		div#content
			p
				- for(let i=1;i<=largestHWid;i++){
					span.hwlink hw#{i}
				- };
			h1 Creative Coding
			h1 Homework #{hwid}
			div#display
			block content
			div.hr
			h3 Useful links:
			p
				a(href="https://p5js.org/reference/" target="_blank") p5.js Reference
			p.author Created by Tengchao Zhou, October 2018
		script(src='/js/hw.js')