html
	head
		title hw#{hwid}
		link(rel='stylesheet', href='/css/hw.css')
	body
		div#content
			p
				- for(let i=1;i<=largestHWid;i++){
					span.hwlink hw#{i}
				- };
			h1 Creative Coding
			h1 Homework #{hwid}
			p Created by Tengchao Zhou
			p October 2018
			div#display
			block content
			div.hr
			h3 Useful links:
			p
				a(href="https://p5js.org/reference/" target="_blank") p5.js Reference
			p.author Page Theme: A Cursor In A China House, created by Tengchao Zhou
		script(src='/js/hw.js')