extends lessonslayout.pug
block content
	h2 Lesson 1 Examples
	table.examples
		tr
			td
			td point(), line()
		tr
			td.center
				img(src="/img/tree.png")
			td
				a(href="https://jsfiddle.net/ffmaer/f0dt8539/") for-loop, background(), color(), rect(), triangle(), noStroke(), fill(), rectMode(), noLoop()
		tr
			td.center
				img(src="/img/bamboos.png")
			td
				a(href="https://jsfiddle.net/ffmaer/0bypz3t4/") nested loops, rect()
		tr
			td
			td noFill(), stroke(), strokeWeight()
		tr 
			td.center
				img(src="/img/falling-apple.png")
			td
				a(href="https://jsfiddle.net/ffmaer/sy45k62r/") frameCount, frameRate(), translate(), ellipse(), createCanvas()
		tr
			td
			td PI
		tr
			td
				img(src="/img/snowflakes.png")
			td
				a(href="https://jsfiddle.net/ffmaer/kjw7yh45/") scale(), translate(), push(), pop(), angleMode(), rotate(), random(), rect(), noLoop()
	h2 Lesson 2
	table.examples
		tr
			td
				img(src="/img/ilovenewyork.png")
			td
				a(href="https://jsfiddle.net/ffmaer/fcao9trm/") p5.particle
		tr
			td
				img(src="/img/suns.png")
			td
				a(href="https://jsfiddle.net/ffmaer/oxgsjL0y/") p5.particle
		tr
			td
				img(src="")
			td array
		tr
			td
				img(src="")
			td preload(), setup(), draw()
		tr
			td
				img(src="")
			td loadFont()
		tr
			td
				img(src="/img/fonts.png")
			td
				a(href="https://jsfiddle.net/ffmaer/5tqvrn2m/") textFont(), textSize(), text(), Javascript Array push() method,
		tr
			td
				img(src="")
			td python -m SimpleHTTPServer
		tr
			td
				img(src="")
			td split()
		tr
			td
				img(src="")
			td floor()
		tr
			td
				img(src="/img/random.png")
			td
				a(href="https://jsfiddle.net/ffmaer/wLghcbef/") random(), floor()
				
		tr
			td
				img(src="")
			td loadSound()
		tr
			td
				img(src="")
			td setVolume(), play(), pause(), stop(), playMode(), setLoop()
		tr
			td
				img(src="")
			td addCue()
		tr
			td
				img(src="")
			td anonymouse functions
		tr
			td
				img(src="")
			td createButton(), mousePressed(), posiiton(), style(), changed()
		tr
			td
				img(src="/img/flower-slider.png")
			td
				a(href="https://jsfiddle.net/ffmaer/7qxnsb63/") createSlider(), value()
	h2 Lesson 3
	h2 Lesson 4
	h2 Lesson 5
	table.examples
		tr
			td
				img(src="/img/ccapture.png")
			td
				a(href="https://jsfiddle.net/ffmaer/jzo19Lwp/") ccpature.js
		tr
			td
			td
	h2 Lesson 6
	h2 Lesson 7
	h2 Lesson 8
	h2 Lesson 9
	h2 Lesson 10
	h2 Record p5.js with ccapture.js
	h2 Convert webm to h264 with ffmpeg
	h2 Problem Sets