html
	head
		title CC with p5.js
		link(rel='stylesheet', href='/css/lessons.css')
	body
		div#content
			h1 Creative Coding with p5.js
			block content
			p.author Created by Tengchao Zhou, October 2018 - January 2019
		script(src='/js/lessons.js')