html
	head
		title Lessons
		link(rel='stylesheet', href='/css/lessons.css')
	body
		div#content
			h1 Creative Coding
			block content
			p.author Created by Tengchao Zhou, October-December 2018
		script(src='/js/lessons.js')