html
  head
    
  body
    p.link https://jeonghopark.github.io/scanseqjs/
    p.link https://soniaboller.github.io/geometric-tuneage/
    p.link https://maxkolyanov.github.io/mirror/
    p.link https://paveldogreat.github.io/WebGL-Fluid-Simulation/
    p.link http://pocoapollo.hdor.is/?song=21885958886_de2f26c5b0_k.jpg
    p.link http://www.samcodes.co.uk/project/geometrize-haxe-web/
    p.link http://mgz.me/plexus-shaders/
    p.link https://www.alpacaprojects.com/inferno/en/
    p.link http://rat.systems/selfless-society/
    script(src="/js/works.js")