@font-face {
  font-family: openSans;
  src: url("/fonts/OpenSans-Regular.ttf");
}
body {
  font-family: openSans;
  color: #3d003f;
}
.quote .smaller {
  font-size: 0.8em;
}
#display .grid {
  display: inline-block;
  font-size: 15px;
  text-align: center;
}
#content h1 .char {
  display: inline-block;
  text-align: center;
}
#content .author {
  font-size: 0.6em;
}
#content{
  margin: auto;
}
img.example{
  width: 160px;
}
td.center{
  text-align: center;
}
table.examples td{
  border: 2px dotted rgb(255, 0, 229);
  color: rgb(255, 0, 229);
}
table.examples td a{
  text-decoration: none;
  color: rgb(255, 0, 229);
}
div.char{
  font-size: 42px;
  vertical-align: middle;
  height: 70px;
}